<ion-view view-title="Lista de compras">
  <ion-content>
     <div class="list">

  <div class="item item-button-right">
    Manzanas - 3 unid
    <button class="button button-balanced">
      <i class="ion-checkmark-round"></i>
    </button>
  </div>
<div class="item item-button-right">
    Coca Cola 2.5 Lts - 1 unid.
    <button class="button button-balanced">
      <i class="ion-checkmark-round"></i>
    </button>
  </div>
  <div class="item item-button-right">
    Nachos con queso - 1 unid.
    <button class="button button-balanced">
      <i class="ion-checkmark-round"></i>
    </button>
  </div>
  <div class="item item-button-right">
    Pasta de dientes Pepsodent - 2  unid.
    <button class="button button-ligth disabled="true" ">
      <i class="ion-checkmark-round"></i>
    </button>
  </div>
 

</div>
  </ion-content>
</ion-view>
